{% extends 'base.html' %} {% block content %}

    <div class="row">
        <div class="col-md-5 col-sm-12 p-4">
            <h4 class="text-center"> Login with a social media account </h4>
            <a href="{% url 'social:begin' 'facebook' %}" class="fb btn btn-primary w-100 p-2 mb-3 mt-3">
                <i class="fa fa-facebook fa-fw pl-1"></i> Login with Facebook
            </a>

            <a href="#" class="twitter btn btn-info w-100 p-2 mb-3">
                <i class="fa fa-twitter fa-fw pl-1"></i> Login with Twitter
            </a>

            <a href="{% url 'social:begin' 'github' %}" class="btn btn-success w-100 p-2 mb-3">
                <i class="fa fa-github fa-fw pl-1"></i> Login with Github
            </a>

            <h4 class="text-center"> Login with your Discuzz account</h4>

            <form method="POST" action="" class="form">
                    {% csrf_token %}
                        <div class="form-row input">
                            <div class="form-group col-md-12 inputBox">
                                <label for="uid">Username</label>
                                <input type="text" class="form-control" name="uid" id="uid" placeholder="Username">
                            </div>
                            <div class="form-group col-md-12 inputBox">
                                <label for="pwd">Password</label>
                                <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password">
                            </div>
                            <div class="form-group col-md-12 inputBox">
                                <button class="btn btn-primary w-100"> Login </button>
                            </div>
                        </div>
                </form>
            <div class="p-1 ">
                <a href="{% url 'signup' %}" class="btn btn-info">Signup</a>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary"> Forgot password? </a>
            </div>
        </div>
    </div>

{% endblock %}