{% extends 'base.html' %} {% load static %}

{% block style %}
    <style>
        .fixed-card{
            width: 300px;
            display: block;
        }

        .fixed-quiz-card{
            width: 400px;
            height: 350px;
            overflow: auto;
        }

        .notification-pic{

            width: 180px;
            height: 180px;
            margin: auto;


        }

        .notification-pic-quiz{

            width: 180px;
            height: 180px;
            margin: auto;


        }

        @media (max-width: 576px){

            .fixed-card{
                width: 90vw;
                display: block;
            }

        }
        .down{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        }
        .close-top{
            position: absolute;
            top: 6px;
            right: 6px;
            font-size: 24px;
        }
        .lower{
            position: fixed;
            bottom: 0;
            /* top: 20px; */
            left: 0;
            right: 0;
            padding: 10px;
        }
        .not-card{
            height: 400px;
            overflow: auto;
         }


    </style>
{% endblock %}

{% block content %}
    <h4 class="text-center ion-no-padding ion-no-margin w-100"> Friend requests </h4>
    <div class="container-fluid d-flex" style="width: auto; overflow-x: auto">

        {% for req in notifications %}
        {% if req.kind == 'request' %}

        <div class="d-inline-flex">
            <ion-card class="fixed-card ion-no-margin mt-2 mr-2 mb-1">
            <ion-card-header>
                <h6 class="text-center"> {{ req.by.username }} sent a friend request </h6>
                     <ion-avatar slot="" class="notification-pic">
                         <img src="{{ req.by.userextension.profile_pic }}">
                     </ion-avatar>
                    <ion-icon name="close" class="close-top"></ion-icon>
            </ion-card-header>
            <ion-card-content>
                <div class="">
                    <ion-button color="secondary" expand="block" class="non-friend-{{req.by.username}}" onclick="addUserAsFriend(this)" data-username="{{req.by.username}}" data-hide="parent" data-id="btn-add-{{my_user.person.username}}" data-notificationId="{{req.id}}" data-url="/api/add/{{req.by.username}}/{{req.id}}">
                        Accept
                    </ion-button>
                    <ion-button color="primary" expand="block" fill="outline" onclick="presentAlertConfirm(this)" data-what="Request by {{ req.by.username }} notification" data-hide="parent" data-url="/notification/delete/{{req.id}}/">
                        Cancel
                    </ion-button>

                </div>
            </ion-card-content>
        </ion-card>
        </div>


        {% endif %}


        {% if req.kind == 'now_friends' %}

        <div class="d-inline-flex">

            <ion-card class="fixed-card ion-no-margin mt-2 mr-2 mb-1">
            <ion-card-header>
                <h6 class="text-center"> Now friends with {{ req.by.username }} </h6>
                     <ion-avatar slot="" class="notification-pic">
                         <img src="{{ req.by.userextension.profile_pic }}">
                     </ion-avatar>
                    <ion-icon name="close" class="close-top"></ion-icon>
            </ion-card-header>
            <ion-card-content>
                <div class="">

                    <ion-button color="success" fill="outline" expand="block" href="/chat/{{req.by.username}}" data-url="/notification/{{req.id}}/">
                        Chat
                    </ion-button>

                    <ion-button color="danger" expand="block" onclick="presentAlertConfirm(this)" data-what="Now friends with {{ req.by.username }} notification" data-hide="parent" data-url="/notification/delete/{{req.id}}/">
                        Delete
                    </ion-button>

                </div>
            </ion-card-content>
        </ion-card>
        </div>


        {% endif %}

        {% endfor %}

</div>



<h4 class="text-center ion-no-padding ion-no-margin w-100"> Question Notifications </h4>
    <div class="container-fluid d-flex" style="width: auto; overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar;">

        {% for req in notifications %}
        {% if req.kind == 'question' %}

        <div class="d-inline-flex mr-3">
            <div class="d-block">
                <h6> Your friend {{req.by.username}} posted a new question </h6>
            <ion-card class="ion-no-margin ion-margin-bottom ion-no-padding mr-3 fixed-quiz-card" href="/discuzz/{{req.question_code}}/" router-direction="forward" router-link="/discuzz/${req.question_code}" mode='ios'>

            <ion-card-header class="card-header">
                <ion-card-title> {{req.topic }}, some subtopic </ion-card-title>

            </ion-card-header>

        <ion-card-content class="ion-padding">
            <div class="w-100">

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ion-card-subtitle class="text-center"> Description </ion-card-subtitle>
                    <blockquote class=""> Some description </blockquote>
                </div>
                <div class="col-md-12 col-sm-12">
                    <ion-card-subtitle class="text-center"> Question </ion-card-subtitle>
                    <blockquote class=""> {{ req.question }}</blockquote>
                </div>
            </div>
            <div class=""> The discussion code is: <span class="code"> {{req.question_code }}</span></div>

          <div class="fixed-bottom">
            <p class="ion-no-padding">
              <span class="float-right">
                <ion-chip color="primary">
                  <ion-avatar>
                    <img src=" {{req.by.userextension.profile_pic}}">
                  </ion-avatar>
                  <ion-label>
                    {{ req.by.username }}
                  </ion-label>
                </ion-chip>
              </span>
            </p>
          </div>
        </ion-card-content>

      </ion-card>
       <ion-button expand="block" color="danger" onclick="presentAlertConfirm(this)" data-what="Now friends with {{ req.by.username }} notification" data-hide="parent3" data-url="/notification/delete/{{req.id}}/"> Delete </ion-button>

        </div>
        </div>


        {% endif %}
        {% endfor %}

</div>

<h4 class="text-center ion-no-padding ion-no-margin w-100"> Mentions </h4>
<div class="container-fluid d-flex" style="width: auto; overflow-x: auto">

        {% for question in question_mentions %}
        <div class="d-inline-flex">
            <ion-card class="fixed-card ion-no-margin mt-2 mr-2 mb-1 not-card">
            <ion-card-header>
                <h6 class="text-center"> You were mentioned in a question posted on {{question.createTime | date}} </h6>
                    <ion-icon name="close" class="close-top"></ion-icon>

            </ion-card-header>
            <ion-card-content>
                <div>
                    <p> {{ question.admin.username }} mentioned you in his question about {{question.topic | title}}, {{question.subtopic | title}} <br/>
                        With a description ' {{ question.description }}' and discussion code <a href="/discuzz//{{question.discussionCode}}/"> {{question.discussionCode}} </a> </p>
                    <p> The question is {{ question.question }} </p>
                </div>
                <div class="lower">
                    <ion-button color="secondary" expand="block" href="/discuzz/{{question.discussionCode}}/">
                        View Question
                    </ion-button>

                </div>
            </ion-card-content>
        </ion-card>
        </div>
     {% endfor %}

    {% for reply in reply_mentions %}
        <div class="d-inline-flex">
            <ion-card class="fixed-card ion-no-margin mt-2 mr-2 mb-1 not-card">
            <ion-card-header>
                <h6 class="text-center"> You were mentioned in a reply made on {{ reply.reply_time | date }} </h6>
                    <ion-icon name="close" class="close-top"></ion-icon>
            </ion-card-header>
            <ion-card-content>
                <div>

                    <p> The reply was done by {{ reply.username.username }} in a hot discussion. You can make a reply too <a href="/discuzz/{{reply.discussion_code.discussionCode}}/"> here </a> </p>
                    <p> 🙶 {{ reply.reply }} 🙷 </p>

                </div>
                <div class="lower">
                    <ion-button color="secondary" expand="block" href="/discuzz/{{reply.discussion_code.discussionCode}}/">
                        Answer
                    </ion-button>

                </div>
            </ion-card-content>
        </ion-card>
        </div>
     {% endfor %}

    {% for comment in comment_mentions %}
        <div class="d-inline-flex">
            <ion-card class="fixed-card ion-no-margin mt-2 mr-2 mb-1 not-card">
            <ion-card-header>
                <h6 class="text-center"> You were mentioned in a comment done on {{ comment.commented_on | date }} </h6>
                    <ion-icon name="close" class="close-top"></ion-icon>
            </ion-card-header>
            <ion-card-content>
                <div>
                    <p> The comment was made by {{ comment.commented_by.username }} to a reply " {{comment.commented_to.reply}} "
                        at a hot discussion about `{{comment.commented_to.discussion_code.topic }}, {{comment.commented_to.discussion_code.subtopic }}`
                        <a href="/discuzz/{{comment.commented_to.discussion_code.discussionCode }}/"> {{comment.commented_to.discussion_code.discussionCode }} </a>
                    </p>
                    <p class="mt-5"> The comment is 🙶 {{ comment.comment }} 🙷 </p>
                </div>
                <div class="lower">
                    <ion-button color="secondary" expand="block" href="/discuzz/{{comment.commented_to.discussion_code.discussionCode}}/">
                        Visit to Answer
                    </ion-button>

                </div>
            </ion-card-content>
        </ion-card>
        </div>
     {% endfor %}

</div>


<script>

    function addUserAsFriend(el){
        const friend_username = el.dataset.username;
        const notification_id = el.dataset.notificationId;

        const url = el.dataset.url;
        const method = 'GET';
        const xhr = new XMLHttpRequest();
        xhr.open(method, url);
        xhr.onload = () => {
            let response = xhr.response;
            let res = JSON.parse(response)
            if(res.response === 'added'){
                newAttrs = `

                    <ion-button color="success" fill="outline" expand="block" data-what="request by ${friend_username}" data-url="/notification/{{req.id}}/" href="/chat/${friend_username}/">
                        Chat
                    </ion-button>

                    <ion-button color="danger" expand="block" onclick="presentAlertConfirm(this)" data-what="Now friends with ${ friend_username }} notification" data-hide="parent" data-url="/notification/delete/${notification_id}/">
                        Delete
                    </ion-button>

                `;
                el.parentNode.innerHTML = newAttrs;
            }

            else if(res.response === ''){
                 newAttrs = `

                    <ion-button color="success" fill="outline" expand="block" data-what="request by ${friend_username}" data-url="/notification/{{req.id}}/" href="/chat/${friend_username}/">
                        Already friends, chat
                    </ion-button>

                    <ion-button color="danger" expand="block" onclick="presentAlertConfirm(this)" data-what="Now friends with ${ friend_username }} notification" data-hide="parent" data-url="/notification/delete/${notification_id}/">
                        Delete
                    </ion-button>

                `;
                el.parentNode.innerHTML = newAttrs;
            }

        }
        xhr.send();
    }


    function presentAlertConfirm(el) {
        const alert = document.createElement('ion-alert');
        alert.cssClass = 'my-custom-class';
        alert.header = 'Are you sure you want to delete this notification?';
        alert.mode = 'ios';
        alert.message = ` ${el.dataset.what} !`;
        alert.buttons = [
          {
            text: 'Cancel',
            role: 'cancel',
            cssClass: 'secondary',
            handler: (blah) => {
              console.log('Canceled');
            }
          }, {
            text: 'Okay',
            handler: () => {
                const method = 'GET';
                const url = el.dataset.url;
                const xhr = new XMLHttpRequest();

                xhr.open(method, url);
                xhr.onload = () => {

                     async function presentToast() {
                        const toast = document.createElement('ion-toast');
                        toast.message = `${el.dataset.what} successfully deleted`;
                        toast.color = 'success';
                        toast.duration = 3000;

                        document.body.appendChild(toast);
                        return toast.present();
                    }
                    presentToast();
                    const what_to_hide = el.dataset.hide;
                    if(what_to_hide === 'parent'){
                        el.parentNode.parentNode.parentNode.style.display = 'none';
                    }
                    else if(what_to_hide === 'parent3'){
                        el.parentNode.parentNode.style.display = 'none';
                        el.style.display = 'none';
                    }

                }
                xhr.send()
            }
          }
        ];

        document.body.appendChild(alert);
        return alert.present();
    }

</script>

{% endblock %}