.about blockquote {
    height: auto;
    color: white;
}

.about {
    background: #f0f0f0 !important;
}

.about #shadow-card {
    box-shadow: -5px -5px 10px #f0f0f0, 5px 5px 15px #f0f0f0 !important;
}

.about h4 {
    color: #ff0047;
}

.about .card:hover {
    transform: rotateX(10deg);
}