
.d-div1{
background-color: red;
}

.icon-courier{
    background: linear-gradient(100deg, #f6eef7, #c61ece);
    height: 300px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-text: center;
    /*width: 300px;
    margin: auto;*/
}
.icon-courier_one{
    padding-top: 20px;
}
.fa-chrome , .fa-bolt, .fa-book{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 40px;
    padding-bottom: 10px;
}
.icon-courier_two{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 300px;
    margin: auto;
    background: #e007d0;
    display: block;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 20px;
    box-shadow: 0 6px 10px red,
                            inset rgba(255,255,255,.03);
}
.icon-courier_two h4{
    text-align:center;
}
.icon-courier_two p{
    text-align: center;
}



.quiz1{
     background: linear-gradient(50deg, #4d52f37a, #fff);
}
.quiz2{
     background: linear-gradient(50deg, #2540c7, #fff);
}

.quiz3{
     background: linear-gradient(50deg, #070f69e8, #fff);
}

.quiz4{
     background: linear-gradient(50deg, #1acee0e0, #b47eb7);
}

.quiz5{
     background: linear-gradient(50deg, #16b765e8, #fff);
}

.quiz6{
     background: linear-gradient(50deg, #28bf15, #ad9a9a);
}
