{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-3 col-sm-12"></div>
    <div class="col-md-6 col-sm-12 form">
        <div class="jumbotron">
            <div class="login_form">
                <h4 class="text-center w-100">Create a discussion</h4>
                {% for message in messages %}
                <p class="text-success text-danger">{{ message }}</p>
                {% endfor %}
                <div class="w-100">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-row input">

                            <div class="form-group col-md-12  inputBox">
                                <label for="admin">Admin username</label>
                                <input type="text" id="admin" class="bg-light form-control" name="admin" placeholder=" {{ user.username }} ">
                            </div>

                            <div class="form-group col-md-12  inputBox">
                                <label for="pm">Payment mode</label>
                                <input type="text" id="pm" class="bg-light form-control" name="payment_mode" placeholder="M-pesa">
                            </div>

                            <div class="form-group col-md-12  inputBox">
                                <label for="pc">Payment code</label>
                                <input type="text" id="pc" class="bg-light form-control" name="payment_code" placeholder="i.e NHM53GX337">
                            </div>

                            <div class="form-group col-md-12  inputBox">
                                <label for="topic">Topic</label>

                                <select type="text" id="topic" class="bg-light form-control form-control-sm topic" name="topic">
                                    
                                </select>
                            </div>

                            <div class="form-group col-md-12  inputBox">
                                <label for="sub">Subtopic</label>
                                <select type="text" id="sub" class="bg-light form-control form-control-sm sub" name="subtopic">
                                    
                                </select>
                            </div>

                            <div class="form-group col-md-12 inputBox">
                                <label for="desc">Description</label>
                                <textarea name="description" id="desc" class="inputBox " rows="5" cols="40" placeholder="Description about topic"></textarea>
                            </div>

                            <div class="form-group col-md-12 inputBox">
                                <label for="quiz">Question</label>
                                <textarea name="question" id="quiz" class="inputBox " rows="8" cols="40" placeholder="Question for discussion"></textarea>
                            </div>

                            <div class="form-group col-md-12  inputBox">
                                <button type="submit" name="reg-submit" class="btn btn-primary w-100">Submit</button>
                            </div>

                        </div>
                    </form>
                    <div class="help">
                        <p>Want to join other discussions? <a href="{% url 'join' %}">Join</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12"></div>
    <script>
        window.onload = LoadTopicsAndSubtopics;

        function LoadTopicsAndSubtopics() {
            const subtopicsEl = document.querySelector('.sub');

            const topicsEl = document.querySelector('.topic');

            const xhr = new XMLHttpRequest();
            const url = "/api/create/topics_subtopics";
            const method = "GET";
            const responseType = "json";
            xhr.responseType = responseType;
            xhr.method = method;
            xhr.open(method, url);
            xhr.onload = () => {

                const serverResponse = xhr.response;
                const geteResponse = serverResponse.response;
                const topics = serverResponse.topics;
                const subtopics = serverResponse.subtopics;


                var cleanedTopics = topics.filter(function(value, index, self) {
                    return self.indexOf(value) === index;
                }).sort();

                var cleanedSubtopics = subtopics.filter(function(value, index, self) {
                    return self.indexOf(value) === index;
                }).sort();


                cleanedTopics.forEach(element => {
                    fillSelection(topicsEl, element);
                });

                cleanedSubtopics.forEach(element => {
                    fillSelection(subtopicsEl, element);
                });


            }

            xhr.send();
        }
        const fillSelection = (parentEl, selection) => {


            const newSelect = `
                <option value="${selection}">${selection}</option>
            `;

            parentEl.insertAdjacentHTML("beforeEnd", newSelect);
        }
    </script>
</div>
{% endblock %}