{% extends 'base.html' %} {% block content %} {% load static %}
<div class="discuzz">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h3 class="text-center text-white">Topic : {{ disc_name.topic }} <input onchange="check()" id="changeColor" type="checkbox"></h3>
                <hr>
                <h5 class="text-center text-white">Subtopic : {{ disc_name.subtopic }}</h5>
                <h6 class="text-center text-white">Description : {{ disc_name.description }}</h6>
                <h6 class="text-center text-white">Admin : {{ disc_name.admin }}</h6>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="shadow-card">
                    <h4 id="query-title">Query, <span class="code">Code: {{ disc_name.discussionCode }}</span> <span class="code_id">{{ disc_name.id }}</span> </h4>
                    <p id="query-text">
                        {{ disc_name.question }}
                    </p>
                </div>

                <div id="shadow-card">
                    <h4 class="text-center text-white">Replies</h4>
                    <hr>
                    <div class="all_replies" id="all_replies">
                        {% for x in replies %} {% if x.discussion_code == disc_name.discussionCode %}
                        <div id="shadow-card-replies">
                            <div>
                                <h6 id="reply-uid"> {{ x.username }} {{reply_obj.id}}</h6>
                            </div>
                            <div id="{{ x.id }}">
                                <pre id="pre"> 
<code>
{{ x.reply }} 
</code>
</pre>
                            </div>
                            <div id="options-menu">

                                <form class="likeform" id="like-{{ x.id }}" method="POST" action="/api/like/{{ x.id }}/" data-likes="{{ x.likes }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-small bg-primary" name="like" value="{{reply_obj.id }}">
                                    <span class='likess-{{ x.id }} text-light'><i class="fa fa-thumbs-up float-left"> </i> Likes {{ x.likes.count }}</span>
                                    </button>
                                </form>

                                <form class="dislikeform" id="dislike-{{ x.id }}" method="POST" action="/api/dislike/{{ x.id }}/">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning btn-small bg-warning" name="dislike" value="{{ x.id }}">
                                    <span class='dislikess-{{ x.id }} text-light'> <i class="fa fa-thumbs-down float-left"> </i> Dislikes {{ x.dislikes.count }}</span>
                                        </button>
                                </form>

                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-12"></div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="comments-{{ x.id }} w-100 field">
                                        <h5 class="text-center">Comments</h5>
                                        {% for comment in comments %} {% if comment.commented_to.id == x.id %}
                                        <span class="w-100">{{comment.commented_by.username}}</span>
                                        <pre class="w-100 w-wrap">
<code>
    {{comment.comment}}
</code>
</pre>
                                        <hr class="comment-divider"> {% endif %} {% endfor %}

                                    </div>
                                    <div>
                                        <div class="form">
                                            <div class="login-form">
                                                <form class="commentform" id="comment-{{ x.id }}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-row input">

                                                        <div class="form-group col-md-12 inputBox comment-reponse">

                                                        </div>

                                                        <div class="form-group col-md-12 inputBox">
                                                            <label for="reply">Make comment  </label>
                                                            <textarea name="comment" id='com{{ x.id }}' class="inputBox " rows="3" cols="35" placeholder="Make a comment to this reply" required="required"></textarea>
                                                        </div>

                                                        <div class="form-group col-md-12 inputBox ">
                                                            <button type="submit" name="" class="btn btn-success w-100 ">Comment</button>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12"></div>
                            </div>

                        </div>
                        {% endif %} {% endfor %}
                    </div>

                    <div class="form">
                        <div class="login-form">
                            <form id="discuzz_form" action="/discuzz_api/{{disc_name.discussionCode}}/" method="POST">
                                {% csrf_token %}
                                <div class="form-row input">

                                    <div class="form-group col-md-12 inputBox response">

                                    </div>

                                    <div class="form-group col-md-12 inputBox">
                                        <label for="reply">Make reply  </label>
                                        <textarea name="reply" id="reply" class="inputBox " accesskey="r" rows="5" cols="40" placeholder="Reply to this question" required='required'></textarea>
                                        <div id="reply-icons">
                                            <i class=" fa fa-redo "></i>
                                            <i class="fa fa-undo "></i>
                                            <i class="fa fa-arrow-left "></i>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 inputBox ">
                                        <button type="submit" name=" " class="btn btn-primary w-100 ">Reply</button>
                                    </div>

                                </div>
                            </form>
                           
                        </div>

                        <script src="{% static 'jquery.js' %}" charset="utf-8"></script>
                        <script src="{% static 'bootstrap.js' %}" charset="utf-8"></script>

                        <div class="row">
                            <div class="col">
        
                                <div class="show-emoji" id="show-emojis">
                                    <ul class="nav nav-tabs emoji-div" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#home1">&#128512;</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#menu11">&#129295;</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#menu22">&#128650;</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#menu33">&#119808; - &#120808; </a>
                                        </li>
                                    </ul>
                    
                                    <div class="tab-content">
                                        <div id="home1" class="container tab-pane emojis fixed-emoji-div">
                                            <!-- <div class="emojis fixed-emoji-div"></div> -->
                                        </div>
                                        <div id="menu11" class="container tab-pane emojis-one fixed-emoji-div">
                                            <!-- <div class="emojis-one fixed-emoji-div"></div> -->
                                        </div>
                                        <div id="menu22" class="container tab-pane emojis-two fixed-emoji-div">
                                            <!-- <div class="emojis-two fixed-emoji-div"></div> -->
                                        </div>
                    
                                        <div id="menu33" class="container tab-pane emojis-more fixed-emoji-div">
                                            <!-- <div class="emojis-more fixed-emoji-div"></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const emojis = document.querySelector('.emojis');
        const emojis_one = document.querySelector('.emojis-one');
        const emojis_two = document.querySelector('.emojis-two');
        const emojis_more = document.querySelector('.emojis-more');
        var text = document.querySelector('#reply');

        function createEmojis(index) {
            var num = 128512 + index;
            var emoji = `<span class="spaced" onclick='addEmoji(this)'>&#${num};</span>`;
            emojis.insertAdjacentHTML('beforeEnd', emoji);
        }

        function createEmojisOne(index) {
            var num = 129293 + index;
            var emoji = `<span class="spaced" onclick='addEmoji(this)'>&#${num};</span>`;
            emojis_one.insertAdjacentHTML('beforeEnd', emoji);
        }

        function createEmojisTwo(index) {
            var num = 128650 + index;
            var emoji = `<span class="spaced primary" onclick='addEmoji(this)'>&#${num};</span>`;
            emojis_two.insertAdjacentHTML('beforeEnd', emoji);
        }

        function MoreEmojis(index) {
            var num = 119808 + index;
            var emoji = `<span class="spaced" onclick='addEmoji(this)'>&#${num};</span>`;
            emojis_more.insertAdjacentHTML('beforeEnd', emoji);
        }

        for (let index = 0; index < 80; index++) {
            createEmojis(index);
        }
        for (let index = 0; index < 243; index++) {
            createEmojisOne(index);
        }
        for (let index = 0; index < 100; index++) {
            createEmojisTwo(index);
        }
        for (let index = 0; index < 1024; index++) {
            MoreEmojis(index);
        }

        function addEmoji(num) {
            window.addEventListener('dblclick', (e) => {
            e.preventDefault();
            });
            var inner = text.textContent;
            var em = `&#${num}`;
            text.value += num.textContent
        }
        
    </script>

    <script>
        var reply_form = $('#discuzz_form');
        const all_replies_div = document.querySelector('#all_replies');


        // var email = $('#uid');
        var reply = $('#reply');
        // const all_mails_div = document.querySelector('.all_mails');

        var loc = window.location;
        var wSStart = 'ws://'
        if (loc.protocol === 'https:') {
            wSStart = 'wss://';
        }

        var endPoint = wSStart + loc.host + loc.pathname;;
        var socket = new WebSocket(endPoint);

        socket.onmessage = (e) => {
            var cleaned_data = JSON.parse(e.data);
            console.log('THE INCOMING DATA IS', cleaned_data);
            if (cleaned_data.type === 'reply') {
                const incomingtone = new Audio('../../../static/incomingreply.wav');
                incomingtone.play();
                reply_renderer(cleaned_data);
            } else if (cleaned_data.type === 'comment') {
                const incomingtone = new Audio('../../../static/incoming1.wav');
                incomingtone.play();
                comment_renderer(cleaned_data);
            } else if (cleaned_data.type === 'like') {
                const incomingtone = new Audio('../../../static/incoming2.wav');
                incomingtone.play();
                like_renderer(cleaned_data);
            } else if (cleaned_data.type === 'dislike') {
                const incomingtone = new Audio('../../../static/incoming3.wav');
                incomingtone.play();
                dislike_renderer(cleaned_data);
            }

            setTimeout(() => {
                handleComments();
                handleLikes();
                handleDislikes();
            }, 200);
        }
        socket.onopen = (e) => {
            console.log('OPEN', e);

            handleComments();
            handleLikes();
            handleDislikes();

            reply_form.submit((event) => {
                event.preventDefault();
                var msg = reply.val();

                // Serialized form
                // var formSerialized = form.serialize();

                var sendReply = JSON.stringify({
                    'reply': msg,
                    'type': 'reply'
                });

                socket.send(sendReply);
                reply.val('');
            });


        }
        socket.onerror = (e) => {
            console.log('ERROR', e)
        }
        socket.onclose = (e) => {
            console.log('CLOSE', e)
        }

        function handleComments() {
            const comForms = document.querySelectorAll('.commentform');
            comForms.forEach((form, current) => {
                form.addEventListener('submit', (event) => {
                    event.preventDefault();
                    console.log(current);
                    const ID = form.id.split('-')[1];
                    const comment_field_value = event.target[1].value;
                    console.log('THE FORM IS: ', comment_field_value, ID);
                    const sendComment = JSON.stringify({
                        'comment': comment_field_value,
                        'id': ID,
                        'type': 'comment'
                    });
                    if (comment_field_value === '') {
                        return;
                    } else {
                        socket.send(sendComment);
                    }
                    event.target[1].value = '';
                });
            });
        }

        function handleLikes() {
            var likeForms = document.querySelectorAll('.likeform');

            likeForms.forEach((form) => {
                var counter = 1;
                form.addEventListener('submit', (event) => {
                    console.log(counter)
                    event.preventDefault();
                    var ID = form.id.split('-')[1];
                    console.log('THE LIKE FORM IS : ', ID);
                    var addOrRemoveLike = JSON.stringify({
                        'id': ID,
                        'type': 'like'
                    });
                    if (counter === 1 && ID !== 'x') {
                        console.log(counter)
                        socket.send(addOrRemoveLike);
                        event.stopImmediatePropagation();
                        ID = 'x';
                        counter = null;
                        return false;
                    } else {
                        return;
                    }

                });
            });
        }

        function handleDislikes() {
            const disLikeForms = document.querySelectorAll('.dislikeform');

            disLikeForms.forEach((form) => {
                var counter = 1;
                form.addEventListener('submit', (event) => {
                    event.preventDefault();
                    var ID = form.id.split('-')[1];
                    console.log('THE DISLIKE FORM IS : ', ID);
                    var addOrRemoveDisLike = JSON.stringify({
                        'id': ID,
                        'type': 'dislike'
                    });
                    if (counter === 1 && ID !== 'x') {
                        socket.send(addOrRemoveDisLike);
                        event.stopImmediatePropagation();
                        ID = 'x';
                        counter = null;
                        return false;
                    } else {
                        return;
                    }

                });
            });
        }

        function reply_renderer(reply_obj) {
            // const reply_text = reply_obj.reply;

            const new_reply = `
                <div id="shadow-card-replies">
                    <div>
                        <h6 id="reply-uid"> ${ reply_obj.username}</h6>
                    </div>
                    <div id="${reply_obj.id}">
<pre id="pre"> 
<code>
${reply_obj.reply} 
</code>
</pre>
                    </div>
                    <div id="options-menu">

                        <form class="likeform" id="like-${reply_obj.id }" method="POST" action="/api/like/${reply_obj.id}/" data-likes="${reply_obj.likes}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary bg-primary" name="like" value="${reply_obj.id }">
                            <span class='likess-${reply_obj.id } text-light'><i class="fa fa-thumbs-up">  </i>Likes ${reply_obj.likes}</span>
                            </button>
                        </form>

                        <form class="dislikeform" id="dislike-${reply_obj.id }" method="POST" action="/api/dislike/${reply_obj.id}/">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning bg-warning" name="dislike" value="${reply_obj.id }">
                            <span class='dislikess-${reply_obj.id } text-light'><i class="fa fa-thumbs-down"> </i>Dislikes ${reply_obj.dislikes}</span>
                                </button>
                        </form>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12"></div>
                        <div class="col-md-6 col-sm-12">
                            <div class="comments-${reply_obj.id} field">
                                <h5 class="text-center">Comments</h5>
                                    {% for comment in comments %}
                                    {% if comment.commented_to.id ==  x.id %}
<pre class="w-100 w-wrap">
<code>
    {{comment.comment}}
</code>
</pre>
<hr class="comment-divider">
                                    {% endif %}
                                    {% endfor %}
                            </div>
                            <div>
                                <div class="form">
                                    <div class="login-form">
                                        <form class="commentform" id="comment-${reply_obj.id}" action="/comments/${reply_obj.id}/" method="POST">
                                            {% csrf_token %}
                                            <div class="form-row input">

                                                <div class="form-group col-md-12 inputBox comment-reponse">
                                                    
                                                </div>

                                                <div class="form-group col-md-12 inputBox">
                                                    <label for="reply">Make comment  </label>
                                                    <textarea name="comment" class="inputBox " rows="3" cols="35" placeholder="Make a comment to this reply" required="required"></textarea>
                                                </div>

                                                <div class="form-group col-md-12 inputBox ">
                                                    <button type="submit" name="" class="btn btn-success w-100 ">Comment</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12"></div>
                    </div>


                </div>
            `;
            all_replies_div.insertAdjacentHTML('beforeEnd', new_reply);
        }

        function comment_renderer(comment) {
            const comment_div = document.querySelector(`.comments-${comment.id}`);
            console.log('THE COMMENT IS: ', comment.comment);
            const comment_to_render = `
                <span class="w-100">${comment.username}</span>
<pre class="w-100 w-wrap">
<code>
${comment.comment}
</code>
</pre>
<hr class="comment-divider">
            `;
            comment_div.insertAdjacentHTML('beforeEnd', comment_to_render);
        }

        function like_renderer(like) {
            var like_el = document.querySelector(`.likess-${like.id}`);
            var dislike_el = document.querySelector(`.dislikess-${like.id}`);
            if (like_el === '') {
                return;
            }
            like_el.innerHTML = 'Likes ' + ' ' + like.likes;
            dislike_el.innerHTML = 'Dislikes ' + ' ' + like.dislikes;
        }

        function dislike_renderer(like) {
            var dislike_el = document.querySelector(`.dislikess-${like.id}`);
            var like_el = document.querySelector(`.likess-${like.id}`);
            if (dislike_el === '') {
                return;
            }
            dislike_el.innerHTML = 'Dislikes ' + ' ' + like.dislikes;
            like_el.innerHTML = 'Likes ' + ' ' + like.likes;
        }
    </script>
</div>
{% endblock %}