{% extends 'base.html' %} {% load static %}

{% block content %}


<div class="">
    <div class="row">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">

            <ion-card color="dark" class="ion-no-padding">
                <ion-card-header>
                    <ion-card-title class="text-center"> The discuzz chat &#128712; </ion-card-title>

                    <ion-chip class="" style="background: grey;">
                        <ion-icon name="person"></ion-icon>
                        <ion-label> {{ other_user }} </ion-label>
                    </ion-chip>

                    <ion-chip class="" style="background: green;">
                        <ion-icon name="person"></ion-icon>
                        <ion-label> {{ user.username }} </ion-label>
                    </ion-chip>

                </ion-card-header>
                <ion-card-content class="">
                        <div id="chat-holder" class="w-100 ion-no-padding">
                            {% for chat in chat_messages %}
                                {% if chat.user.username == user.username %}
                                    <div class="" style="text-overflow: wrap; max-width: 70%; width: auto; background: green; color: white; margin-left: 30%; margin-top: 10px; margin-bottom: 10px; padding: 8px; border-radius: 5px;">
                                        {{ chat.message }}
                                    </div>
                                {% else %}
                                    <div class="" style="text-overflow: wrap; max-width: 70%; width: auto; background: grey; color: white; margin-right: 30%; margin-top: 10px; margin-bottom: 10px; padding: 8px; border-radius: 5px;">
                                        {{ chat.message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    <div>
                        <form class="form" id="send-message">
                            <div class="form-row">
                                <input id="username" type="text" value="{{user.username}}" class="d-none">
                                <textarea rows="5" class="w-100 form-group text-primary" id="message" placeholder="message" required></textarea>
                            </div>
                            <button type="submit" name="Send" class="btn btn-primary btn-small w-100">Send</button>
                        </form>
                        <div class="row">
                            <div class="col emojis fixed-emoji-div">

                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>

        </div>
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>

<script>
        var form = $('#send-message');

        var msg = $('#message');
        const all_chats_div = document.querySelector('#chat-holder');
        var username = $('#username');
        var user = username.val();

        var loc = window.location;
        var wSStart = 'ws://'
        if(loc.protocol === 'https:'){
            wSStart = 'wss://';
        }

        var endPoint = wSStart + loc.host + loc.pathname;;
        var socket =new WebSocket(endPoint);

        socket.onmessage = (e) => {
            // console.log('Message', e);
            console.log(e.data);
            var cleaned_data = JSON.parse(e.data);
            var reply = cleaned_data.message;
            var reply_two = reply.replace(/\</g, '&lt;');
            var reply_three = reply_two.replace(/\>/g, '&gt;');
            if(cleaned_data.username === user){
                var new_chat = `
                    <div class="" style="text-overflow: wrap; max-width: 70%; width: auto; background: green; color: white; margin-left: 30%; margin-top: 10px; margin-bottom: 10px; padding: 8px; border-radius: 5px;">
                              ${reply_three}
                    </div>
                    `;
                all_chats_div.insertAdjacentHTML('beforeEnd', new_chat);
            }
            else if(cleaned_data.username !== user){
                var new_chat = `
                     <div class="" style="text-overflow: wrap; max-width: 70%; width: auto; background: grey; color: white; margin-right: 30%; margin-top: 10px; margin-bottom: 10px; padding: 8px; border-radius: 5px;">
                              ${reply_three}
                    </div>
                `;
                all_chats_div.insertAdjacentHTML('beforeEnd', new_chat);
            }
        }
        socket.onopen = (e) => {
            console.log('OPEN',e);
            form.submit((event) => {
                event.preventDefault();
                var message = msg.val();
                var sendMsg = JSON.stringify({'message': message, 'username': user});
                socket.send(sendMsg);
                msg.val('');
            });
        }
        socket.onerror = (e) => {
    console.log('ERROR', e)
    async function presentToast() {
            const toast = document.createElement('ion-toast');
            toast.message = `<strong> Connection lost </strong>`;
            toast.color = 'danger';
            toast.duration = 3000;

            document.body.appendChild(toast);
            return toast.present();
        }
        presentToast();
}
socket.onclose = (e) => {
    console.log('CLOSE', e)
    async function presentToast() {
            const toast = document.createElement('ion-toast');
            toast.message = `<strong> Connection closed </strong>`;
            toast.color = 'warning';
            toast.duration = 3000;

            document.body.appendChild(toast);
            return toast.present();
        }
        presentToast();

}

    </script>

    <script>
        const emojis_field = document.querySelector('.emojis');
        function CommentEmojis(field) {

            for (let index = 0; index < 1000; index++) {
                var num = 127744 + index;
                var emoji = `<span class="spaced" onclick='addCommentEmoji(this)'>&#${num};</span>`;
                field.insertAdjacentHTML('beforeEnd', emoji);
            }

        }
        CommentEmojis(emojis_field);
        function addCommentEmoji(el){
            const text_area = el.parentNode.parentNode.parentNode.children[0].children[0].children[1];
            text_area.value += el.innerHTML;
        }



    </script>

{% endblock %}