.about blockquote {
    height: auto;
    color: white;
}

.about {
    background: #131419 !important;
}

.about #shadow-card {
    box-shadow: -5px -5px 10px rgba(247, 244, 244, 0.05), 5px 5px 15px rgba(250, 240, 240, 0.5) !important;
}

.about h4 {
    color: #ff0047;
}

.about .card:hover {
    transform: rotateX(10deg);
}