.red {
    color: red !important;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.pink {
    color: pink;
}

.cyan {
    color: cyan;
}

.indigo {
    color: indigo;
}

.indianred {
    color: indianred;
}

.gray {
    color: gray;
}

.violet {
    color: violet;
}

.orange {
    color: orange;
}

.navy {
    color: navy;
}

.orchid {
    color: orchid;
}

.orangered {
    color: orangered;
}

.olivedrab {
    color: olivedrab;
}

.olive {
    color: olive;
}