.discuzz .jumbotron{
    background: #131419 !important;
    margin: 2px !important;
}

#shadow-card {
    margin: 0 !important;
    position: relative;
    width: 100%;
    padding: 4px 10px 30px;
    background: #131419;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#shadow-card #query-title {
    text-align: center;
}

#query-title {
    color: white;
}

.field {
    background-color: #0099e0 !important;
    border-radius: 4%;
    padding: 0 0 10px 5px;
}


.comment-divider {
    background: linear-gradient(#0a0101, #1a0314, #0f0422, #077c72);
}

.w-wrap {
    word-wrap: normal;
    white-space: nowrap;
}

#query-title span {
    font-size: 14px !important;
    color: #03a9f4 !important;
}

#query-text {
    color: rgba(207, 203, 203, 0.87);
    margin-left: 30px;
}

#reply-uid {
    margin-left: 5px;
}

#shadow-card-replies {
    position: relative;
    width: 100%;
    padding: 4px 10px 10px;
    background: #131419;
    border-radius: 10px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

#shadow-card-replies pre {
    text-overflow: clip;
    color: rgba(227, 233, 228, 0.897) !important;
}


#shadow-card .form #login-form {
    position: relative;
    width: 100%;
    padding: 4px 10px 30px;
    background: #131419;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#shadow-card .form #login-form .input {
    text-align: left;
    margin-top: 40px;
}

#shadow-card .form .login-form .input .inputBox textarea {
    background: #131419 !important;
    width: 100%;
    border: none !important;
    outline: none !important;
    border-radius: 40px !important;
    padding: 5px 15px;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.hidden {
    display: none;
}

#options-menu {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

#options-menu i {
    display: flex;
}

#options-menu i span {
    font-size: 10px;
    padding: 3px;
    top: 5px;
    transform: translate(5px);
}

#options-menu form button {
    background: transparent;
    border: none;
    color: blue;
}

#reply-icons {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

#reply-icons i {
    display: flex;
}

.hide {
    display: none;
}

.comments {
    color: antiquewhite;
}

.code_id {
    display: none;
}



        .w-100 {
            width: 100%;
        }
        
        .emoji-div{
            width: 50%;
            margin: auto;
            background: inherit;
            border-radius: 6px;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-around
        }

        .tab-content {
            background: inherit;
            border-radius: 6px;
            width: 80%;
            margin: auto;
        }
        
        .fixed-emoji-div {
            width: 100%;
            height: 250px;
            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .spaced {
            font-size: 20px;
            margin: 4px;
            cursor: pointer;
        }
        
        .m-auto {
            margin: auto;
        }
        
        .show-emojis {
            display: none;
        }
        
        .show {
            display: block;
        }
        
        @media (max-width: 768px) {
            .tab-content {
                background: inherit;
                border-radius: 20px;
                width: 90%;
                margin: auto;
            }
        }