.long {
    height: 1000px;
}

.margin-zero {
    margin: 0 !important;
    padding: 0 !important;
    padding: 0;
}

#home-link {
    padding: 5px;
    margin: auto;
}

#home-link .card {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
}

#home-link:hover {
    text-decoration: none;
}

#home-link .card-header {
    padding: 5px !important;
}

#home-link .card-header:hover {
    text-decoration: underline;
}

#home-link .card-footer {
    padding: 3px;
    color: #ff0047;
}

#home-link .card-body {
    padding: 2px;
    color: black !important;
}

#home-link .card-body p:nth-child(1) {
    color: #131419;
}

.carousel img {
    width: 100%;
    height: 300px;
}

.color {
    color: red;
}