.profile {
    margin-top: 6px;
    padding-top: 6px;
    background: #131419 !important;
    color: white;
}

.profile h3 {
    color: #ff0047;
    margin-top: 5px;
    padding-top: 5px;
}

.profile h4 {
    color: #800225;
}

.profile .img {
    width: 200px !important;
    height: 200px;
    margin: auto;
}

.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.profile .contents {
    padding-top: 10px;
}

.profile hr {
    background: #ee6c91;
}

.disc-message {
    font-size: 12px;
}

.disc-message:hover {
    color: white;
    text-decoration: none;
    transform: scale(.05);
    cursor: pointer;
}

#msgs {
    display: block;
}

#t-span {
    color: #ff0047;
    font-size: 10px;
    width: 30%;
}

#p-disc:hover {
    background: cadetblue;
}

.h100 {
    height: 100%;
}