{% extends 'base.html' %} {% block content %}

    <div class="row">
        <div class="col">
            <div class="container">
                <div>
                    <h2 class="text-center text-success"> Password reset successfully done </h2>
                </div>
                <div class="complete-icon text-center">
                    <span style="font-size: 60px">
                       🟢
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>
        let input = document.querySelector('#id_email')
        input.classList.add('form-control')
    </script>

{% endblock %}