{% extends 'base.html' %} {% block content %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 p-4">
            <form class="form" method="POST">
                <fieldset>
                    <legend class="form-legend"> Reset password </legend>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info btn-block"> Reset password </button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    <script>
        let input = document.querySelector('#id_email')
        input.classList.add('form-control')
    </script>

{% endblock %}