{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codedaddies craig list application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Add to-do</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about_page">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="add_todo_page">Add to-do</a>
          <a class="dropdown-item" href="#">Signup</a>
          <a class="dropdown-item" href="#">Login</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">

    <div class="row">
        {% block content %}

        {% endblock content %}
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12 justify-content-center">
            <div class="icon-courier">
            <div class="icon-courier_one">
                <i class="fa fa-slack" aria-hidden="true"></i>
            </div>
            <div class="icon-courier_two">
                <h4>Slack for fast experience</h4>
                <p>Experience great deals from our resources</p>
            </div>
             </div>
        </div>

        <div class="col-md-4 col-sm-12">
             <div class="icon-courier">
                <div class="icon-courier_one">
                    <i class="fa fa-chrome" aria-hidden="true"></i>
                </div>
                <div class="icon-courier_two">
                    <h4>This is chrome logo</h4>
                    <p>We are here for speed</p>
                    <p>Learn our technology</p>
                </div>
            </div>
         </div>

        <div class="col-md-4 col-sm-12">
            <div class="icon-courier">
                <div class="icon-courier_one">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                </div>
                <div class="icon-courier_two">
                    <h4>Bolt</h4>
                    <p>This is the bolt logo </p>
                    <p>Test our speed</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h4 class="text-center">Add To-do Item</h4>
            <div class="col mt-4">
                <form action="add_todo/" class="form-inline" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control mb-2 mr-sm-2" name="item" placeholder="To-do" >
                    <input type="submit" class="btn btn-primary mb-2">
                </form>
             </div>
        </div>

        <div class="col-md-12 col-sm-12 text-center"><h4>TODOS</h4></div>
        <div class="col-md-12 col-sm-12">
            <ul class="list-group">
                {% for todo_item in todo_items %}
                     <li class="list-group-item">{{todo_item.text}}
                         <div class="float-right">
                             <form action="delete_todo/{{todo_item.id}}/" method="post">
                                 {% csrf_token %}
                                <button class="btn btn-warning btn-sm">DELETE</button>
                             </form>
                         </div>
                     </li>
                {% endfor %}
            </ul>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12 text-center"><h4>SIGN UP</h4></div>
        <div class="col-md-12 col-sm-12">
            <form class="form" action="form_sign_up/" method="post">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="username">
                <label for="fname">First name</label>
                <input type="text" id="fname" class="form-control" name="fname" placeholder="First name">
                <label for="lname">Last name</label>
                <input type="text" id="lname" class="form-control" name="lname" placeholder="Last name">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="E-mail">
                <label for="phone_no">Phone number</label>
                <input type="tel" id="phone_no" class="form-control" name="phone_number" placeholder="Phone number">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="pwd" placeholder="Password">
                <label for="password-repeat">Repeat password</label>
                <input type="password" id="password-repeat" class="form-control" name="pwd-repeat" placeholder="Password repeat">
                <input type="submit" class="btn btn-primary mt-4 mb-2">
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 text-center"><h4>CONTACT TABLE</h4></div>
        <div class="col-md-12 col-sm-12">
            <table class="table table-responsive table-striped table-light table-bordered ">
                <thead class="thead-dark">
                    <tr>
                        <td>Username</td>
                        <td>First name</td>
                        <td>Last name</td>
                        <td>Email</td>
                        <td>Phone number</td>
                        <td>Password</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                {% for members in member %}
                <tr class=" members" style="width: 100% !important;">
                    <td>{{members.username}}</td>
                    <td>{{members.fname}}</td>
                    <td>{{members.lname}}</td>
                    <td>{{members.email}}</td>
                    <td>{{members.phone_number}}</td>
                    <td>{{members.password}}</td>
                    <td>
                        <form action="delete_contact/{{members.id}}/" method="post">
                                 {% csrf_token %}
                                <button class="btn btn-warning btn-sm">DELETE</button>
                             </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


</div>

</body>
</html>